[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
tai = "python3 tai/cli.py"

[packages]
openai = "==1.29.0"
setuptools = "*"
twine = "*"
wheel = "*"

[dev-packages]

[requires]
python_version = "3.11"
