[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
anthropic = "*"
google-generativeai = "*"
groq = "*"
inquirer = "*"
openai = "*"
rich = "*"
setuptools = "*"
twine = "*"
wheel = "*"
terminal-ai-assistant = {file = ".", editable = true}

[dev-packages]

[requires]
python_version = "3.11"
